---
layout: default
pagination: 
  enabled: true
---

<div class="header-bar">
  <h1><font face= "didot lt">Sesame's Journal</font></h1>
  <h2>&lbrace; He can type &rbrace;</h2>
  <br/>
  <hr>
  <br/>
</div>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><font size="+2">
      &laquo;
      </font></a>
  {% else %}
  <span class="previous"><font size="+2">&laquo;</font></span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next"><font size="+2">&raquo;</font></a>
  {% else %}
  <span class="next "><font size="+2">&raquo;</font></span>
  {% endif %}
</div>
