---
layout: default
pagination: 
  enabled: true
---

<div class="header-bar">
  <h1><font face= "didot lt">Sesame's Journal</font></h1>
  <h2>&lbrace; He can type &rbrace;</h2>
  <br/>
  <hr>
  <br/>
</div>


<!-- post list -->
<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
	 	<a rel="prev" href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}"><font size= "+2">&laquo; </font></a>
	{% else %}
		<span><font size= "+2">&laquo; </font></span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<b>{{ page }}</b>
		{% elsif page == 1 %}
			<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
			<a href="{{ site.paginate_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
		<a rel="next" href="{{ paginator.next_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}"><font size= "+2"> &raquo;</font></a>
	{% else %}
		<span><font size= "+2"> &raquo;</font></span>
	{% endif %}
</div>
{% endif %}
