<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/"> <mark class="C68863">January 30, 2011</mark> and you could win up to $$$$ — including amazing 
    <mark class="C68863">summer</mark> trips!</p></a>
    
    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">blog</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
