<header class="site-header">

  <div class="wrapper">

    <p style="font-size:18px"><b><a class="site-title" href="/"><font color="C68863">Sesame</font></a></b></p>
    
    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">blog</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
