<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/"><font size= "5"><span style="color: #828282">regine </span><span style="color: #683A5E">erika</span></font></a>
    
    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">blog</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
