---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{
      page.meta }}{% endif %}</p>
    <p class="post-meta">{%if page.category %}{{ page.category }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div id="post-nav">
    <div>
      <table style="width:100%">
        <tr>
          <td> 
            {% if page.previous.url %}
            <a class="next" href="{{page.previous.url | prepend: site.baseurl}}">
              <span><font size="+2">&laquo; </font><i>{{page.previous.title}}</i></span>
            </a> 
            {% endif %}
          </td>
          <td align="right"> {% if page.next.url %}
            <a class="prev" href="{{page.next.url | prepend: site.baseurl}}">
              <span><i>{{page.next.title}}</i><font size="+2"> &raquo;</font></span>
            </a> 
            {% endif %} 
          </td>
        </tr>
      </table>
    </div>
  </div>

  <span class="post-meta">
    {% for tag in page.tags %}
    <i class="fa fa-angle-right"> </i> 
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag">
     {{ tag }}
    </a>
    {% unless forloop.last %}{% endunless %}{% endfor %}
  </span>
 
</div>
